# Visual Studio 临时文件与输出目录
.vs/
Debug/
Release/
x64/
x86/
Bin/
Obj/
ipch/
build/

# 编译/链接输出
*.exe
*.dll
*.so
*.a
*.lib
*.obj
*.o
*.ilk
*.pdb
*.exp
*.idb
*.ipdb
*.iobj
*.pch
*.res
*.resources
*.tlb
*.tlh

# 用户/调试缓存
*.user
*.suo
*.sdf
*.opensdf
*.VC.db
*.VC.VC.opendb
*.ncb
*.opt
*.plg
*.psess
*.vsp
*.vspx
*.tmp
*.log

# 其他杂项
*.pidb
*.scc
*.svclog
*.cachefile
*.csproj.user
*.vbproj.user